/* Genel Konteyner */
.container {
    padding: 20px;
    background-color: #010b2c; /* Açık gri arka plan */
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    position: relative; /* Butonları bu konteyner içinde hizalamak için */
}

/* Kategori Butonları (Doğru, Yanlış vs.) */
.category-button-q {
    color: #000000; /* Beyaz metin rengi */
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Tıklama sırasında daha belirgin geçiş */
    padding: 12px 18px; /* Genişletilmiş buton boyutu */
    font-size: 16px;
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    border: 1px solid #ccc; /* Açık gri border */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Hafif gölgeler */
    text-transform: capitalize;
    transition: all 0.7s ease; /* Hover, tıklama ve focus geçiş efektleri */
    width: 100%;
    height: 52px;
}

    .category-button-q:hover {
        background: linear-gradient(135deg, #2575fc, #6a11cb); /* Hoverda mavi ve mor tonları arasında geçiş */
        color: #ffffff; /* Beyaz metin rengi */
        border-color: #2575fc; /* Sınır rengini mavi yap */
        transform: scale(1.05); /* Hoverda büyütme efekti */
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Gölgeyi artır */
    }

 
    

/* Modal Stili */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px; /* Daha geniş modal */
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px; /* Yuvarlatılmış köşeler */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; /* Modalda geçiş efekti */
}

    .modal:hover {
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3); /* Hoverda gölgeyi artır */
    }

/* Soru Kartı */
.card {
    margin-bottom: 20px;
    padding: 20px; /* Daha geniş padding */
    border-radius: 15px; /* Yuvarlak köşeler */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Gölgeleme */
    transition: all 0.3s ease; /* Geçiş efekti */
}

    .card:hover {
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Hoverda daha belirgin gölge */
        transform: translateY(-5px); /* Hoverda kartı hafif yükselt */
    }
.element {
    overflow-y: scroll; /* Kaydırma aktif */
    scrollbar-width: none; /* Firefox için */
}

.element::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Edge için */
}
