body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ekran yüksekliğine uyum sağlar */
  background-color: #f4f4f4;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Yüksekliği dinamik yap */
  width: 100%;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Yatay taşmayı kapat */
}
