body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Görünüm yüksekliğini kapsar */
  min-width: 100vw; /* Görünüm genişliğini kapsar */
  background-image: url('./assets/arkaplan.jpg');
  background-size: 100% 100%; /* Resmi yatayda ve dikeyde tam oturtur */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmin tekrarını engeller */
  background-color: #f4f4f4; /* Yedek bir arka plan rengi */
  font-family: 'Roboto', sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Yatay taşmayı kapat */
}
